main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.05rem;
}

Header .navbar-brand {
  font-size: 25px;
}

Header .nav-link {
  font-size: 14px;
}

Footer .footer-text {
  font-size: 1rem;
}

.form-label {
  color: black;
  font-size: 16px;
  margin: 0.5rem 0;
  letter-spacing: 5px;
  font-family: 'Arial', Courier, monospace;
}

.login .form-control {
  border: 2px solid #4b9ca1;
  border-radius: 0.175rem !important;
  color: black;
}

.checkoutsteps .nav-link {
  border-bottom: 1px solid black;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.shipping .form-control {
  border: 2px solid #4b9ca1;
  border-radius: 0.175rem !important;
  color: black;
}

.card-login {
  border: 3px solid #4b9ca1;
  border-radius: 20px !important;
}

.card-product {
  border: 2px solid #4b9ca1;
  border-radius: 20px !important;
  font-weight: bold;
}

.login-button {
  border: 2px solid #4b9ca1;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
}

.shipping-button {
  border: 2px solid #4b9ca1;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
}

.shipping-button:hover {
  background: #4bbac0;
  color: black;
}

.login-button:hover {
  background: #4bbac0;
  color: black;
}

.goback {
  border: 2px solid #4b9ca1;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
}

.goback:hover {
  background: #4bbac0;
  color: black;
}

.createProduct {
  border: 2px solid #4b9ca1;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
}

.createProduct:hover {
  background: #4bbac0;
  color: black;
}

.editDeleteButtons {
  border: 1px solid black;
  border-radius: 0.5rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
